BtyIntegrations/Web References/com.n11CityService.api/CityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch="http://www.n11.com/ws/schemas" xmlns:tns="http://www.n11.com/ws/schemas" targetNamespace="http://www.n11.com/ws/schemas" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:n11="http://www.n11.com/ws/schemas" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.n11.com/ws/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="GetCitiesRequest">
        <xs:complexType />
      </xs:element>
      <xs:element name="GetCitiesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="result" type="n11:ResultInfo" />
            <xs:element name="cities" type="n11:CityList" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetCityRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="cityCode" type="xs:integer" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetCityResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="result" type="n11:ResultInfo" />
            <xs:element name="city" type="n11:CityData" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetDistrictRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="cityCode" type="xs:integer" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetDistrictResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="result" type="n11:ResultInfo" />
            <xs:element name="districts" type="n11:DistrictList" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetNeighborhoodsRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="districtId" type="xs:long" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetNeighborhoodsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="result" type="n11:ResultInfo" />
            <xs:element name="neighborhoods" type="n11:NeighborhoodListData" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="CityData">
        <xs:sequence>
          <xs:element name="cityCode" type="xs:string" />
          <xs:element name="cityId" type="xs:long" />
          <xs:element name="cityName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CityList">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="city" type="n11:CityData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CreateCityData">
        <xs:sequence>
          <xs:element name="cityId" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DistrictData">
        <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="id" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DistrictList">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="district" type="n11:DistrictData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CreateDistrictData">
        <xs:sequence>
          <xs:element name="id" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NeighborhoodData">
        <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="id" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NeighborhoodListData">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="neighborhood" type="n11:NeighborhoodData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="errorCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="errorCategory" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ResultInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="errorCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="errorCategory" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="GetCitiesRequest">
    <wsdl:part name="GetCitiesRequest" element="tns:GetCitiesRequest" />
  </wsdl:message>
  <wsdl:message name="GetCitiesResponse">
    <wsdl:part name="GetCitiesResponse" element="tns:GetCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCityRequest">
    <wsdl:part name="GetCityRequest" element="tns:GetCityRequest" />
  </wsdl:message>
  <wsdl:message name="GetCityResponse">
    <wsdl:part name="GetCityResponse" element="tns:GetCityResponse" />
  </wsdl:message>
  <wsdl:message name="GetDistrictRequest">
    <wsdl:part name="GetDistrictRequest" element="tns:GetDistrictRequest" />
  </wsdl:message>
  <wsdl:message name="GetDistrictResponse">
    <wsdl:part name="GetDistrictResponse" element="tns:GetDistrictResponse" />
  </wsdl:message>
  <wsdl:message name="GetNeighborhoodsRequest">
    <wsdl:part name="GetNeighborhoodsRequest" element="tns:GetNeighborhoodsRequest" />
  </wsdl:message>
  <wsdl:message name="GetNeighborhoodsResponse">
    <wsdl:part name="GetNeighborhoodsResponse" element="tns:GetNeighborhoodsResponse" />
  </wsdl:message>
  <wsdl:portType name="CityServicePort">
    <wsdl:operation name="GetCities">
      <wsdl:input name="GetCitiesRequest" message="tns:GetCitiesRequest" />
      <wsdl:output name="GetCitiesResponse" message="tns:GetCitiesResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetCity">
      <wsdl:input name="GetCityRequest" message="tns:GetCityRequest" />
      <wsdl:output name="GetCityResponse" message="tns:GetCityResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetDistrict">
      <wsdl:input name="GetDistrictRequest" message="tns:GetDistrictRequest" />
      <wsdl:output name="GetDistrictResponse" message="tns:GetDistrictResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetNeighborhoods">
      <wsdl:input name="GetNeighborhoodsRequest" message="tns:GetNeighborhoodsRequest" />
      <wsdl:output name="GetNeighborhoodsResponse" message="tns:GetNeighborhoodsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CityServicePortSoap11" type="tns:CityServicePort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCities">
      <soap:operation soapAction="" />
      <wsdl:input name="GetCitiesRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetCitiesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCity">
      <soap:operation soapAction="" />
      <wsdl:input name="GetCityRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetCityResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDistrict">
      <soap:operation soapAction="" />
      <wsdl:input name="GetDistrictRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDistrictResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNeighborhoods">
      <soap:operation soapAction="" />
      <wsdl:input name="GetNeighborhoodsRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetNeighborhoodsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CityServicePortService">
    <wsdl:port name="CityServicePortSoap11" binding="tns:CityServicePortSoap11">
      <soap:address location="https://api.n11.com/ws/cityService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>